apiVersion: apps/v1
kind: Deployment
metadata:
  name: ptf-front
  namespace: ptf-staging
spec:
  replicas: 1
  selector:
    matchLabels:
      app: ptf-front
  template:
    metadata:
      labels:
        app: ptf-front
    spec:
      serviceAccountName: ptf-front
      imagePullSecrets:
        - name: ghcr-secret
      securityContext:
        runAsNonRoot: true
        seccompProfile:
          type: RuntimeDefault
      containers:
      - name: frontend
        image: ghcr.io/raphaelrbrt/ptf-front:sha-16573f28162122e1835495157bee21a5627f9754
        securityContext:
          allowPrivilegeEscalation: false
          capabilities:
            drop:
              - ALL
        ports:
        - containerPort: 3000
        env:
        - name: NODE_ENV
          value: "production"
        - name: KUBERNETES_NAMESPACE
          valueFrom:
            fieldRef:
              fieldPath: metadata.namespace
        resources:
          requests:
            memory: "128Mi"
            cpu: "50m"
          limits:
            memory: "256Mi"
            cpu: "200m"
