apiVersion: v1
kind: ServiceAccount
metadata:
  name: ptf-front
  namespace: ptf-staging
---
apiVersion: rbac.authorization.k8s.io/v1
kind: Role
metadata:
  name: ptf-front
  namespace: ptf-staging
rules:
- apiGroups: [""]
  resources: ["pods", "services"]
  verbs: ["get", "list", "watch"]
- apiGroups: ["apps"]
  resources: ["deployments"]
  verbs: ["get", "list", "watch"]
---
apiVersion: rbac.authorization.k8s.io/v1
kind: RoleBinding
metadata:
  name: ptf-front
  namespace: ptf-staging
subjects:
- kind: ServiceAccount
  name: ptf-front
  namespace: ptf-staging
roleRef:
  kind: Role
  name: ptf-front
  apiGroup: rbac.authorization.k8s.io
