apiVersion: apps/v1
kind: Deployment
metadata:
  name: ptf-front
  namespace: ptf-production
spec:
  replicas: 1
  selector:
    matchLabels:
      app: ptf-front
  template:
    metadata:
      labels:
        app: ptf-front
    spec:
      serviceAccountName: ptf-front
      imagePullSecrets:
        - name: ghcr-secret
      containers:
      - name: frontend
        image: ghcr.io/raphaelrbrt/ptf-front:sha-5b14d4fa48cad8d85516da8fde06b2a11cc5dafb
        ports:
        - containerPort: 3000
        env:
        - name: NODE_ENV
          value: "production"
        - name: KUBERNETES_NAMESPACE
          valueFrom:
            fieldRef:
              fieldPath: metadata.namespace
        resources:
          requests:
            memory: "128Mi"
            cpu: "50m"
          limits:
            memory: "256Mi"
            cpu: "200m"
