apiVersion: apps/v1
kind: Deployment
metadata:
  name: ptf-front
  namespace: cvb-production
spec:
  replicas: 1
  selector:
    matchLabels:
      app: ptf-front
  template:
    metadata:
      labels:
        app: ptf-front
    spec:
      serviceAccountName: ptf-front
      imagePullSecrets:
        - name: ghcr-secret 
      containers:
      - name: admin
        image: ghcr.io/raphaelrbrt/ptf-front:sha-a9b55a0b5649cb2d300f16b39dfb2f74c054a33d
        ports:
        - containerPort: 3000
        env:
        - name: DATABASE_URL
          valueFrom:
            secretKeyRef:
              name: cvb-secrets
              key: database-url
        - name: REDIS_URL
          valueFrom:
            secretKeyRef:
              name: cvb-secrets
              key: redis-url
        - name: SECRET_KEY
          valueFrom:
            secretKeyRef:
              name: cvb-secrets
              key: ptf-front-secret-key
        - name: KUBERNETES_NAMESPACE
          valueFrom:
            fieldRef:
              fieldPath: metadata.namespace
        resources:
          requests:
            memory: "128Mi"
            cpu: "50m"
          limits:
            memory: "256Mi"
            cpu: "200m"
