apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: ptf-production

resources:
  - deployment.yaml
  - service.yaml
  - rbac.yaml
  - ingress.yaml

commonLabels:
  app: ptf-front
  environment: production
