apiVersion: v1
kind: ServiceAccount
metadata:
  name: ptf-front
  namespace: cvb-production
---
apiVersion: rbac.authorization.k8s.io/v1
kind: Role
metadata:
  name: ptf-front
  namespace: cvb-production
rules:
- apiGroups: [""]
  resources: ["pods", "services"]
  verbs: ["get", "list", "watch", "delete"]
- apiGroups: ["apps"]
  resources: ["deployments", "statefulsets"]
  verbs: ["get", "list", "watch", "patch"]
- apiGroups: [""]
  resources: ["pods/log"]
  verbs: ["get", "list"]
- apiGroups: ["batch"]
  resources: ["jobs"]
  verbs: ["get", "list", "watch", "create", "delete"]
---
apiVersion: rbac.authorization.k8s.io/v1
kind: RoleBinding
metadata:
  name: ptf-front
  namespace: cvb-production
subjects:
- kind: ServiceAccount
  name: ptf-front
  namespace: cvb-production
roleRef:
  kind: Role
  name: ptf-front
  apiGroup: rbac.authorization.k8s.io
